<nav>
  <div class="nav-wrapper  teal darken-1">
    <a href="#!" class="brand-logo">
      Administracion de Proyectos de Software</a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a routerLink="/usuario">
          <i class="material-icons left">search</i>Link with Left Icon</a>
      </li>
      <li>
        <a routerLink="/proveedores">
          <i class="material-icons left">view_module</i>Link with Right Icon</a>
      </li>
      <li>
          <a routerLink="/proveedores">
            <i class="material-icons left">backup</i>Intercalado</a>
        </li>
        <li>
            <a routerLink="/proveedores">
              <i class="material-icons left">power_settings_new</i>Salir</a>
          </li>
    </ul>
  </div>
</nav>

<div class="contenidoBody">
  <router-outlet></router-outlet>
</div>


